*{
    font-family: 'Roboto', sans-serif;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.decor{
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(133, 186, 247, 0.5);
}
h1{
    font-weight: bold;
    margin: 0px;
    padding:20px 10px;
}

.datos{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.datos input{
    width: 400px;
}

.datos button{
    background: white;
    border: 0px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    font-weight: bold;
    margin: 20px 0px;
    padding: 5px 30px;
    transition: all 300ms;
}

.datos button:hover{
    background: rgb(201, 201, 201);
    color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.decor ul{
    margin: 0px;
    padding: 10px 40px 30px 60px;
}

.decor li{
    text-align: left;
}